.round{
    border-radius: 7px !important; 
}


body{
    background: url('/static/images/b.png');
    background-size: cover;
    height: 80vh;
    padding-top: 20vh;
}

.profilepic{
    height: 100px;
    width: 100px;
}

.profile{
    border-radius: 50px !important;
}

