{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/site.css" type="text/css" rel="stylesheet" media="screen,projection"/>


    <script src="static/js/uikit.min.js"></script>
    <script src="static/js/uikit-icons.min.js"></script>
    <title>Home:Find My Blood</title>
</head>
<body>
    

    <div class="uk-card uk-card-default uk-card-body uk-width-5-6@m uk-align-center uk-text-center  round">
        <h3 class="uk-card-title">Find My Blood <i class="fas fa-tint" style="color: #951A23;"></i></h3><br>
        <div class="uk-grid uk-margin-left">
            <div class="uk-card uk-card-default uk-width-2-5 uk-padding">
               
                <img src="static/images/profile.png" class="profilepic">
                
                <div>
                    <br>
                    <h3>User Name</h3>
                    <p class="uk-margin-remove">Email</p>
                    <p class="uk-margin-remove-top"><span>Gender</span> | <span>Age</span> | <span>Blood Group</span></p>
                    
                    
                </div>
            </div>
            <div class="uk-card uk-card-default uk-width-expand uk-padding uk-margin-left">
                <button class="uk-button uk-button-primary uk-button-large round">Find a Donor</button>
            </div>

        </div>
        

        
    </div>



    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static "js/init.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
    <script src="https://kit.fontawesome.com/e0a08b5c11.js" crossorigin="anonymous"></script>
</body>
</html>