{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/site.css" type="text/css" rel="stylesheet" media="screen,projection"/>


    <script src="static/js/uikit.min.js"></script>
    <script src="static/js/uikit-icons.min.js"></script>
    <title>Home:Find My Blood</title>
</head>
<body>
    <a  class="uk-position-top-right uk-position-medium" href="/" uk-icon="icon: sign-out; ratio:2" style="fill:white;"></a>

    <div class="uk-card uk-card-default uk-card-body uk-width-5-6  uk-align-center uk-text-center  round uk-margin-remove-top">
        <h2 class="uk-text-left">Find My Blood <i class="fas fa-tint" style="color: #951A23;"></i></h2><br>
        <div class="uk-grid uk-margin-left">
            <div class="uk-card uk-card-default uk-width-2-5@m uk-width-1-1@s uk-padding">
                <a class="uk-position-top-right uk-position-medium" uk-icon="icon: pencil; ratio:1.5" href="#editmodal" uk-toggle></a>
                <span class="uk-badge round uk-position-top-left uk-position-medium">Reciever</span>
                <div id="editmodal" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body round">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <h2 class="uk-modal-title">Edit Details</h2>

                    </div>
                </div>
                
                    <img src="static/images/profile.png" class="profilepic">
                    
                <br><br>
                <div>
                    <h3>{{name}}</h3>
                    <p class="uk-margin-remove">{{email}}</p>
                    <p class="uk-margin-remove">{{phone}}</p>
                    <p class="uk-margin-remove-top"><span class="uk-badge round">{{gender}}</span> | <span class="uk-badge round">{{age}}</span> | <span class="uk-badge round">{{group}}</span></p>
                    
                    
                </div>
            </div>
            
            <div class="uk-card uk-card-default uk-width-expand uk-padding uk-margin-left ">
                <h3 class="uk-text-left">History</h3>
                <div class="uk-height-small" style="overflow:scroll;">
                    <ul class="uk-list uk-list-divider uk-text-left">
                        <li>History User 1</li>
                        <li>History User 2</li>
                        <li>History User 1</li>
                        <li>History User 2</li>
                        <li>History User 1</li>
                        <li>History User 2</li>
                        <li>History User 1</li>
                        <li>History User 2</li>
                        
                    </ul>
                </div>
                <br><br>
                
                <button class="uk-button uk-button-primary uk-button-large round" uk-toggle="target: #findDonerModal">Find a Donor</button>
                
                </form>
                <div id="findDonerModal" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-margin-large-top">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <h2 class="uk-modal-title">Select Blood Group</h2>
                        <div class="uk-modal-body ">
                            <form action="/donorlist" method="post">
                                <select class="uk-select round uk-form-width-medium" name="group" required>
                                    <option disabled selected hidden value=""> Blood Group</option>
                                    <option>A+</option>
                                    <option>A-</option>
                                    <option>B+</option>
                                    <option>B-</option>
                                    <option>O+</option>
                                    <option>O-</option>
                                    <option>AB+</option>
                                    <option>AB-</option>
                                </select>
                                <button type="submit" class="uk-button uk-button-primary uk-button-medium round"><span uk-icon="arrow-right"></span></button>
                            </form>
                        </div>
                        
                    </div>
                </div>
                
            </div>

        </div>
        

        
    </div>



    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static "js/init.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
    <script src="https://kit.fontawesome.com/e0a08b5c11.js" crossorigin="anonymous"></script>
</body>
</html>